<div *ngFor="let carDetail of carDetails" id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel" style="text-align: center;">
  <div class="carousel-inner">
    <div *ngFor="let image of imagePaths; index as i; first as firstImage" [ngClass]="{active: firstImage}" class="carousel-item" data-bs-interval="2000">
      <img [src]="showImageSrc(image.imagePath)" width="260" height="300" class="d-block w-100" alt="...">
    </div>
  </div>
  <div *ngIf="showImageButton==true">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card border-dark mb-3">
  <div class="card-header">Car Name: {{carDetail.name}}</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Brand: {{carDetail.brandName}}</li>
      <li class="list-group-item">Color: {{carDetail.colorName}}</li>
      <li class="list-group-item">Model Year: {{carDetail.modelYear}}</li>
      <!-- ${{carDetail.dailyPrice}} per day -->
      <li class="list-group-item">{{carDetail.description}}</li>
    </ul>
  </div>
  <div class="card-footer text-success bg-transparent border-dark">
    {{carDetail.dailyPrice |currency}} per day
  </div>
</div>
