<body class="text-center">

  <main class="form-signin">
    <form [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputFirst" placeholder="text"
          formControlName="firstName">
        <label for="floatingInputFirst">First Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputLast" placeholder="text"
          formControlName="lastName">
        <label for="floatingInputLast">Last Name</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInputEmailAdress" placeholder="name@example.com"
          formControlName="emailAdress">
        <label for="floatingInputEmailAdress">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="password"
          formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="register()">Sign in</button>
      <div class="checkbox mb-1">
        <label>
          <button class="w-100 btn btn-s btn-warning" routerLink="/login">Login?</button>
        </label>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
</body>
